.SujalK{
 margin:20px;
}
table{
  width: 10%;
  border-collapse: collapse;
  margin: 20px;
}
th{
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}
td{
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

 body {
   font-family: Arial, sans-serif;
   margin: 20px;
   color: #333;
 }

h1 {
  color: #444;
  font-size: 28px;
}

h2 {
  color: #666;
  font-size: 24px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.action-buttons button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

/*.delete-button {*/
/*  background-color: #e74c3c;*/
/*}*/

/*.delete-button:hover {*/
/*  background-color: #c0392b;*/
/*}*/

/*.edit-button {*/
/*  background-color: #3498db;*/
/*}*/

/*.edit-button:hover {*/
/*  background-color: #2980b9;*/
/*}*/

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}
