<div class="SujalK">
  <h1>All Motorcycle</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>BRAND</th>
      <th>DATE</th>
      <th>NAME</th>
      <th>BIKE TYPE</th>
      <th>COST</th>
      <th>PETROL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let motorcycle of motorcycleList" [routerLink]="['/motorcycle',motorcycle.id]" >
      <td>{{motorcycle.id}}</td>
      <td>{{motorcycle.brand | uppercase}}</td>
      <td>{{motorcycle.date | date : 'longDate'}}</td>
      <td>{{motorcycle.name}}</td>
      <td>{{motorcycle | bikeType }}</td>
      <td>{{motorcycle.cost | currency : 'CAD'}}</td>
      <td>{{motorcycle.petrol}}</td>
      <button type="button" (click)="delete(motorcycle.id)">DELETE</button>
      <button type="button" (click)="update()">EDIT</button>
    </tr>
    </tbody>
  </table>
  <div *ngIf="error" class="error">{{error}}</div>
</div>
