<div class="SujalK">
  <h1>All Motorcycle</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>BRAND</th>
      <th>NAME</th>
      <th>COLOUR</th>
      <th>TYPE</th>
      <th>PETROL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let motorcycle of motorcycleList">
      <td>{{motorcycle.id}}</td>
      <td>{{motorcycle.brand}}</td>
      <td>{{motorcycle.name}}</td>
      <td>{{motorcycle.colour}}</td>
      <td>{{motorcycle.type}}</td>
      <td>{{motorcycle.petrol}}</td>
    </tr>
    </tbody>
  </table>
</div>
